/figures/
/Database/
/train_file/
/test_file/
/Database_Split.py
/Database_Normalize.py
/label.csv
/Database_Extract.py
/Database_Resize.py
/result.txt
/Model/
/bayreal/
/baysim/
/test_session
/Sources/
/Resized/
/BayOptim_session/
/__pycache__/
/explore.csv
/distance
/saved_parameters.csv
/discrete_fourier_transform.py
/lenna_pic.png
/sdn.png
/sdn_2.png
/test_result
/Database_Reconst.py
/denormalize_parameters.py
/bayesian_optimizer.py
/single_parameters.py
/parameters.csv
/Parameters.py
/figures.py
/statistical_significance.py
