/figures/
/Database/
/train_file/
/test_file/
/Database_Split.py
/Database_Normalize.py
/label.csv
/Database_Extract.py
/Database_Resize.py
/result.txt
/Model/
/bayreal/
/baysim/
/test_session
/Sources/
/Resized/
/BayOptim_session/
/__pycache__/
/explore.csv
/distance
/saved_parameters.csv
/test_result.txt
/Database_Reconst.py
/denormalize_parameters.py
/parameters.csv
/Parameters.py
/figures.py
/discrete_fourier_transform.py
/physnet_frame.pkl
/physnet_name.pkl
/renames.py
/SDN.py
/Create_Pickle.py
/density_stiffness_plotting.py
/density_stiffness.csv
/AreaWeight_Stiffness_Plotting.png
/Sources_Original

