/figures/
/Database/
/train_file/
/test_file/
/Database_Split.py
/Database_Normalize.py
/label.csv
/Database_Extract.py
/Database_Resize.py
/result.txt
/Model/
/bayreal/
/baysim/
/test_session
/Sources/
/Resized/
/BayOptim_session/
/__pycache__/Database_Normalize.cpython-36.pyc
__pycache__/Parameters.cpython-36.pyc 